<!DOCTYPE html>
<html>

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|Nunito" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../../../resources/bootstrap/css/header.css">
    <link rel="stylesheet" href="../../../../resources/bootstrap/css/CGVtheater.css">
</head>

<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="">무비 차트</a></li>
                <li class=""><a href="">빠른 예매</a></li>
                <li><a href="">이벤트</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="">로그인</a></li>
                <li><a href="">로그아웃</a></li>
                <li class=""><a href="">회원가입</a></li>
            </ul>
        </div>
    </div>
    <div class="container main_container">
        <div class="row text-center header top_header">
            <div class="col-sm-3">
                <a href="">
                    <img src="http://img.cgv.co.kr/R2014/images/title/h1_cgv.png" alt="" style="max-width:70%; margin-top: 1px;">
                </a>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12 header_center1">
                        <div class="row">
                            <a href=""><img src="http://img.cgv.co.kr/R2014/images/title/h2_cultureplex.png" alt="" style="max-width:45%;"></a>
                        </div>
                    </div>
                    <div class="col-sm-12 header_center2">
                        <div class="row">
                            <div class="col-sm-3 main_header dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown">영화<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="">무비차트</a></li>
                                    <li><a href="">무비 파인더</a></li>
                                    <li><a href="">트레일러</a></li>
                                    <li><a href="">평점</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-3 main_header dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown">예매<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="">빠른 예매</a></li>
                                    <li><a href="">상영 시간표</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-3 main_header">
                                <a href="">극장</a>
                            </div>
                            <div class="col-sm-3 main_header">
                                <a href="">이벤트</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="theater-top">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 theater-top-row-1">
                            <img src="../../../../photos/theater_favorite_cgv.png" alt="">
                            <ul class="theater-top-favoriteTheaters">
                                <a href="">
                                    <li></li>
                                </a>
                                <a href="">
                                    <li></li>
                                </a>
                                <a href="">
                                    <li></li>
                                </a>
                                <a href="">
                                    <li></li>
                                </a>
                                <a href="">
                                    <li></li>
                                </a>
                                <button class="theater_btn_set_myFavorite">+</button>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 theater_1_1">
                            <hr class="theater_top_hr">
                            <div class="row">
                                <div class="col-sm-12 top_CGVregion">
                                    <ul class="theater_top_Theaters text-center">
                                        <a href=""><li class="text-center">서울</li></a>
                                    </ul>
                                </div>
                            </div>
                            <hr class="theater_top_hr_2">
                            <div class="row">
                                <div class="col-sm-12">
                                    <ul class="theater_top_CGVList">
                                        <a href=""><li>CGV강남</li></a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row theater_main_row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12 text-center theater_2_1_img">
                        <img src="../../../../photos/theater_theater.gif" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 theater_3_1_mainInfoName">
                        <h1><strong>CGV강남</strong></h1>
                    </div>
                </div>
                <div class="row theater_3_1_main_img_row1">
                    <div class="col-sm-12 theater_3_1_mainImg">
                        <div class="row theater_3_1_main_ImgRow">
                            <div class="col-sm-5 theater_3_1_main_info">
                                <p><strong>서울특별시 강남구 역삼동 814-6 스타플렉스 <br>
                                        서울특별시 강남구 강남대로 438(역삼동) <a id="theater_parking" href="">위치/주차 안내></a></strong></p>

                                <p>1544-1122</p>
                                <p>6관 / 874석</p>
                            </div>
                            <div class="col-sm-2 theater_3_1_main_info tmi">
                                <span id="theater_sweetbox">
                                    SWEETBOX
                                </span>
                            </div>
                            <div class="col-sm-5 theater_info_notice">
                                <div class="row ">
                                    <div class="col-sm-3">
                                        <p>공지사항</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>롯데카드 전잔시스템 작업안내(5/18..)</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row theater_MIBjpg_row ">
                    <div class="col-sm-12 ">
                        <img src="../../../../photos/MIB.jpg" alt="">
                    </div>
                </div>
                <div class="row theater_3_1_main_img_row1">
                    <div class="col-sm-12 text-center time-parking_main-info">
                        <a href=""><span class="theater_time_parking_main_info_span"><span class="glyphicon glyphicon-hand-right"></span> 상영시간표 & 위치/주차안내</span></a>
                    </div>
                </div>
                <div class="row theaxxter_bottom_timetable_row">
                    <div class="col-sm-10">
                        <hr class="theater_bottom_timetable_hr">
                        <div class="row theater_bottom_timetable_time">
                            <div class="col-sm-1 ">
                                <span class="glyphicon glyphicon-hand-left"></span>
                            </div>
                            <div class="col-sm-10 theater_bottom_date_div">
<!--                               날짜 반복 시작-->
                                <a href=""><span class="theater_screening_dates">
                                    <span class="theater_bottom_dates_1">
                                        5월
                                    </span><span class="theater_bottom_dates_2">21</span>
                                </span></a>
<!--                               날짜 반복 끝-->

                            </div>
                            <div class="col-sm-1">
                                <span class="glyphicon glyphicon-hand-right"></span>
                            </div>
                            <div class="col-sm-12">
                                <hr class="theater_bottom_timetable_hr_2">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-7 theater_BN_imgDiv">
                                <img src="../../../../photos/theater_sun.PNG" alt=""> 조조
                                <img src="../../../../photos/theater_moon.png" alt="">심야
                                <span class="theater_BN_info">* 시간을 클릭하시면 빠른 예매를 하실 수 있습니다.</span>
                            </div>
                            <div class="col-sm-5 text-right">
                                <span class="glyphicon glyphicon-info-sign"></span><span class="theater_BN_info_2">관람가격 안내</span>
                                <span class="glyphicon glyphicon-info-sign"></span>
                                <span class="theater_BN_info_2">관람등급 안내</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 theater_bottom_timetable_hr_3_div">
                                <hr class="theater_bottom_timetable_hr_3">
                            </div>
                        </div>
                        <!--                           영화 1개 시간표 시작-->
                        <div class="movie_showing_time_div">
                            <div class="row">
                                <div class="col-sm-1">
                                    <img src="../../../../photos/theater_age_15.PNG" alt="">
                                </div>
                                <div class="col-sm-11 thater_movie_bottom_infotable">
                                    <span class="theater_bottom_movieName"><a href="">걸캅스</a></span>
                                    <img src="../../../../photos/theater_movie_showing.PNG" alt="">
                                    <span class="theater_bottom_movieInfo">
                                        액션,코미디 / 107분/ 2019.05.09 개봉
                                    </span>

                                    <!--                                2d 1관 1층, 밑에 시간표 1줄 시작-->
                                    <div class="row thater_movie_bottom_infotable_2">
                                        <div class="col-sm-12">
                                            <span class="glyphicon glyphicon-play"></span>
                                            <span class="theater_bottom_2D">2D</span>
                                            <div class="theater_border_right_hr"></div>
                                            1관 6층
                                            <div class="theater_border_right_hr"></div>
                                            총 158석
                                            <div class="theater_border_right_hr"></div>
                                        </div>
                                        <div class="col-sm-10 theater_movie_timetable_div">
                                            <a href="">
                                            <div class="theater_movie_timetable">
                                                <div class="theater_movie_timetable_1">
                                                    17:05
                                                </div>
                                                <div class="theater_movie_timetable_2">
                                                    114석
                                                </div>
                                            </div>
                                            </a>
                                            

                                        </div>
                                    </div>
                                    <!--                                    2d 1관 1층, 밑에 시간표 1줄 끝-->

                                </div>
                            </div>
                            <hr class="theater_bottom_timetable_hr_4">
                        </div>
                        <!--                        영화 1개 시간표 끝-->

                        <div class="theater_bottom_event_div ">
                            <div class="row ">
                                <div class="col-sm-12 text-center theater_bottom_event_img_div">
                                    <img src="../../../../photos/theater_relation_event.gif" alt="">
                                </div>
                            </div>

                            <div class="row theater_bottom_event_imgs">
                                <div class="col-sm-4">
                                    <img src="../../../../photos/theater_event_citizen.jpg" alt="">
                                </div>
                                <div class="col-sm-4">
                                    <img src="../../../../photos/theater_event_erand.jpg" alt="">
                                </div>
                                <div class="col-sm-4">
                                    <img src="../../../../photos/theater_event_citizen.jpg" alt="">
                                </div>
                            </div>

                            <div class="row theater_bottom_event_info">
                                <div class="col-sm-4 ">
                                    CGV 극장별 <br>
                                    이랜드몰 제휴 전사 프로모션
                                </div>
                                <div class="col-sm-4">

                                    CGV 극장별 <br>
                                    [CGV 강남 23개 극장]
                                </div>
                                <div class="col-sm-4">
                                    CGV 극장별 <br>
                                    [CGV 강남 외 25개극장] 서울시...
                                </div>
                            </div>
                            <div class="row theater_bottom_event_period">
                                <div class="col-sm-4">
                                    기간: 2019.05.22 ~ 2019.05.22
                                </div>
                                <div class="col-sm-4">
                                    기간: 2019.05.22 ~ 2019.05.22
                                </div>
                                <div class="col-sm-4">
                                    기간: 2019.05.22 ~ 2019.05.22
                                </div>
                                
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-2">
                        <img src="../../../../photos/sidead_gozila.png" alt="">
                        <img src="../../../../photos/sidead_giftcard.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body></html>
